.load-wrapper {
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
  
  }

  .box {
    width: 40%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0px 25px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgb(202, 202, 202);
  }
  