body {
  overflow-x: hidden;
}

main {
  /* width: 100vw; */
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  position: relative;
}

.column-left {
  /* position: relative; */
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  border: 1px solid red;
}

.column-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  border: 1px solid blue;
}

/* Tab bar */
.tab-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-bar button {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tab-btn {
  color: #8c8c8c;
  border: none;
  padding: 8px 15px;
  font-size: 1.1em;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.tab-btn.active {
  background-color: #f89e86;
  color: white;
  cursor: default;
}

.tab-btn:hover {
  background-color: #f9d1c6;
  color: #eb7f63;
  transition: 0.3s ease-in-out;
}

/* tab contents */

.tab-content {
  display: flex;
  /* height: 100vh; */
  width: calc(100% - 50px);
  min-width: min-content;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 14px rgb(216, 216, 216);
  padding: 14px 16px;
  border-radius: 12px;
  margin-top: 3px;
  margin-bottom: 50px;
  font-size: 1em;
}

.tab-content h3 {
  font-size: 1.4em;
}

.tab-content p {
  margin-top: 14px;
  font-size: 1.2em;
}

/* tab content display */
/* default tab */
#tab-content-summary {
  display: flex;
}

/* non-default tabs to be hidden */
#tab-content-items,
#tab-content-appointments,
#tab-content-reviews,
#tab-content-inq,
#tab-content-orders {
  display: none;
}

/* summary tab */
.count-wrapper {
  display: flex;
  flex-direction: row;
}

.count-card-container {
  width: 15%;
  min-width: 150px;
  /* max-width: min-content; */
  box-shadow: 0 4px 14px rgb(216, 216, 216);
  padding: 10px 15px 15px 15px;
  margin-right: 15px;
  border-radius: 12px;
}

.count-card-container > p {
  margin-top: 0px;
  font-size: 1.2em;
  /* font-weight: 700; */
}

.count-container > i {
  font-size: 1.8em;
  /* margin-right: 5px; */
}

.count-card-container .count {
  font-size: 1.8em;
  font-weight: 700;
}

.count-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  /* justify-content: center; */
}

#div-appt-count {
  background: linear-gradient(to bottom right, #a8ff78, #78ffd6);
}

#div-order-count {
  background: linear-gradient(to bottom right, #0ed2f7, #b2fefa);
}

#div-revenue-count {
  background: linear-gradient(to bottom right, #f7971e, #ffd200);
}

#div-user-count {
  background: linear-gradient(to bottom right, #9796f0, #fbc7d4);
}

.lists-wrapper {
  display: flex;
  flex-direction: row;
}

.col-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: min-content;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 4px 14px rgb(216, 216, 216);
  border-radius: 12px;
  margin: 15px 0;
  padding: 15px 15px;
}

.order-container > p {
  padding: none;
  margin: none;
}

.order-container > h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.order-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 5px 0 7px 11px;
  /* padding-top: 5px;
  padding-bottom: 7px; */
  box-shadow: 0 2px 5px rgb(216, 216, 216);
  border-radius: 25px;
  margin: 5px 0;
}

.order-item > p {
  margin-top: 0;
  font-size: 1em;
}

.order-item i {
  font-size: 1.1em;
  margin-right: 10px;
  color: #7ce842;
}

.order-item .status-processing {
  text-transform: uppercase;
  font-size: 0.65em;
  background-color: rgb(252, 197, 0);
  border-radius: 10px;
  padding: 1px 5px;
  margin-right: 10px;
}
.order-item .status-complete {
  text-transform: uppercase;
  font-size: 0.65em;
  background-color: #7ce842;
  border-radius: 10px;
  padding: 1px 5px;
  margin-right: 10px;
}
