*{
    margin: 0;
    padding: 0;
}

.main{  
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #00aac1;
    height: 109vh;
    font-weight: bold;
}

.navbar{
    /* border: 1px solid red; */
    width: 1400px;
    height: 75px;
    margin: auto;
}

.logo{
    color: #fbb03b;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    /* border: 1px solid green; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    /* border: 1px solid red; */
    list-style: none;
    padding: 0px 15px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: "Lato", sans-serif;
}

ul li a:hover{
    color: #fbb03b;
}
