:root {
    /* colors */
    --lightyellow: #fbb03b;
    --darkyellow: #f8931f;
    --lightblue: #65c7d0;
    --darkblue: #00aac1;
    --black: #2e2e2e;
  }

*{
    margin: 0;
    padding: 0;
}

.main{  
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 109vh;
    font-weight: bold;
}

.navbar{
    width: auto;
    height: 85px;
    margin: auto;
    margin-left: 0px;;
    background-color: #00aac1;
}

.logo{
    color: #fbb03b;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
}

ul li{
    list-style: none;
    text-align: center;
    padding: 0px 15px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;
}

ul ul{
    display: flex;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: "Lato", sans-serif;
}

ul li a:hover{
    color: #fbb03b;
}


.menu ul li{
    width: 115px;
    margin: 10px;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--darkblue);
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 0px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--lightblue);
  }

  .main-header-btn{
    width: 12%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 1px solid var(--black);
    padding: 10px 20px;
    font-size: 18px; 
    margin-left: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    background:var(--lightyellow);

}
.main-header-btn:hover{
    border: 1px solid var(--black);
    background: var(--darkyellow);
    transition: 0.5s;
  }

  .hero-header-btn{
    width: 13%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 10px 20px;
    font-size: 15px;
   
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    background: var(--lightblue);
  }

  .hero-header-btn:hover{
    border: 1px solid var(--black);
    background: var(--darkblue);
    transition: 0.5s;
  }
