body {
  overflow-x: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  max-width: 1000px;
  min-width: 750px;
  padding: 0 50px;
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
}

.subtitle {
  font-size: 1.2em;
  margin: 25px 0;
}

button {
  margin-top: 5px;
}

.hero-section {
  padding: 120px 0;
  /* position: relative; */
  color: white;
  background-image: url("../images/home/hero-background.png");
  background-position: 0%;
  background-size: cover;
}

.hero-section.lower {
  padding: 120px 0;
  /* position: relative; */
  color: white;
  background-image: url("../images/home/lower-background.png");
  background-position: 0%;
  background-size: cover;
}

.hero-section p {
  padding: 0 100px;
}

/* section 2 */

#advice-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

#advice-section-2 {
  /* padding-top: 70px; */
  padding-bottom: 70px;
  background-color: white;
}

.row-container {
  align-items: center;
}

.img-container {
  /* width: 150px; */
  object-fit: cover;
}

.right-content {
  margin-left: 70px;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
}

.left-content {
  margin-right: 70px;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
}

.mini-title {
  font-size: 2em;
}

#sec-2-img-1 {
  border-radius: 12px;
  max-width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.201);

  /* transform: rotate(-2deg); */
}

#sec-2-img-2 {
  border-radius: 12px;
  max-width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.201);

  /* transform: rotate(2deg); */
}

/* appointments */

#appointments {
  background-image: url("../images/home/paws-background.png");
  background-repeat: repeat;
  padding: 70px 0;
}

.pet-icon-container i {
  background-color: rgb(255, 255, 255);
  padding: 58px 54px;
  font-size: 4em;
  border-radius: 30px;
  color: #f48263;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.201);
}

.pet-icon-container .big-number {
  color: #f48263;
  font-size: 3em;
  font-weight: 800;
  margin-top: 10px;
}

.pet-group {
  margin: 0 25px;
}

.pet-icon-container .text {
  font-size: 1.2em;
  padding-top: 5px;
}

#video-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

#video-section .right-content {
  margin-left: 50px;
}
