* {
  font-family: "Lato", sans-serif;
  /* box-sizing: ; */
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 80px;
  box-shadow: 0 10px 12px rgb(211, 211, 211);
}

.nav-logo img {
  width: 150px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-menu a {
  text-decoration: none;
  margin: 10px 10px;
  font-size: 1.1em;
  color: var(--black);
}

.nav-menu a:hover {
  color: #eb7f63;
  font-weight: 700;
  transition: 0.3s linear;
}

.nav-menu a.active-link {
  font-weight: 700;
  color: #eb7f63;
}

.btn {
  background-color: #f89e86;
  border: none;
  padding: 8px 15px;
  font-size: 1.1em;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #f9d1c6;
  color: #eb7f63;
  transition: 0.3s ease-in-out;
}

.btn.navbar-login-btn {
  background-color: #f9d1c6;
  color: #eb7f63;
  margin-right: 5px;
}

.btn.navbar-login-btn:hover {
  background-color: #f89e86;
  color: white;
  transition: 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgb(253, 153, 153); */
}

/* main wrapper styles
this adds a spacing to left and right of the page */

.main-wrapper {
  width: 75%;
  max-width: 1000px;
  min-width: 750px;
  padding: 0 50px;
  border: 1px dotted hotpink;
}

/* search bar */

.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  /* border: 1px solid rgb(156, 156, 255); */
}

.btn-round {
  border: none;
  border-radius: 25px;
  background-color: white;
  padding: 8px 11px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 1px 1px 15px rgb(202, 202, 202);
  color: #8c8c8c;
}

#searchbar-back-btn {
  position: relative;
  margin-right: 25px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn.searchbar-btn {
  background-color: #b9d01e;
  border-radius: 0 25px 25px 0;
  padding-right: 16px;
  margin-left: -3px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.btn.searchbar-btn:hover {
  background-color: #e7f390;
  color: #a8bf0c;
}

.search-bar {
  border: none;
  font-size: 1.1em;
  padding: 8px 0 8px 40px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
  border-radius: 25px 0 0 25px;
  /* margin-left: 30px; */
  color: #8c8c8c;
}

.icon.fa-magnifying-glass {
  position: relative;
  z-index: 2;
  margin-right: -35px;
  color: #8c8c8c;
}

.btn.searchbar-tag {
  font-weight: 500;
  background-color: #e7f390;
  color: #a8bf0c;
  margin-right: 8px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.btn.searchbar-tag:hover {
  background-color: #b9d01e;
  color: white;
}

.column-1 {
  width: 50%;
  padding-right: 10px;
  border: 1px solid rgb(121, 251, 223);
}

.column-2 {
  width: 50%;
  padding-left: 15px;
}

/* item image section */

.item-section {
  display: flex;
  flex-direction: row;
  border: 1px solid slateblue;
}

.item-main-img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.mini-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 2px 0 2px;
}

.mini-img-container img {
  width: 23%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.item-title {
  font-size: 1.8em;
  font-weight: 700;
}

.ratings-container {
  margin-top: 18px;
}

.ratings-container i {
  font-size: 1.3em;
  color: #fdad0c;
}

.ratings-container .text {
  margin-left: 10px;
}

/* quantity */

.quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
}

label {
  font-size: 1.1em;
}

.dropdown-list {
  margin-left: 5px;
  border: none;
  font-size: 1.1em;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  margin-left: 8px;
  box-shadow: 0 4px 12px rgb(216, 216, 216);
}

.in-stock {
  margin-left: 12px;
  font-style: italic;
  color: #9caf17;
}

/* size */
.size-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
}

.select-option {
  margin-left: 8px;
  padding: 5px 12px;
  font-size: 1.1em;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgb(216, 216, 216);
  cursor: pointer;
}

.select-option:hover {
  background-color: #b9d01e;
  color: white;
  transition: 0.3s ease-in-out;
}

.select-option.active {
  background-color: #b9d01e;
  cursor: default;
}
