.main-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  font-size: 1.1em;
}

.column-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  border-right: 2px solid rgb(212, 212, 212);
  /* box-shadow: 0 0px 18px rgba(0, 0, 0, 0.136); */
  /* margin: 0px 0; */
}

.column-right {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.item-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-group > i {
  margin-right: 5px;
}

.pet-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.136);
  border-radius: 15px;
  padding: 25px 0 25px 0;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 25px 0; */
  /* box-shadow: 0 0px 18px rgba(0, 0, 0, 0.136); */
}

.pet-img {
  position: relative;
  border-radius: 200px;
}

.name-container,
.breed-container,
.gender-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* margins for icons */
.name-container i,
.gender-container i {
  margin-left: 5px;
}

#edit-icon {
  padding: 5px 5px;
  background-color: rgb(228, 228, 228);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 7px;
}

.pet-name {
  font-size: 1.3em;
  font-weight: 700;
}

.appt-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.appt-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.136);
}

.appt-group > i {
  margin-left: 12px;
  cursor: pointer;
}

.appt-group > i:hover {
  color: rgb(239, 199, 0);
}
