
.search{
    text-align: center;
    padding: 45px; 
}


.SSearch{
    border-radius: 13px;
}
.search button{
    border-radius: 13px;
}
.navicons{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 40px;
}
.popular{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 30px;
    
    
}
.popular h4{
    margin-left: 30px;
}

.medical input ,.PetFood input{
    width: 200px;
    height: 200px;
    padding-bottom: 20PX;
    
}
.medical ,.PetFood{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;

}
.sub-medical ,.sub-pet{
    text-align: center;
    padding-bottom: 40px;
}
.h4edit{
   
    padding: 30px;
}
.row1{
    display: flex;
}
.load{
    text-align: center;
    padding: 30px;
}