body{
    
}
.search{
    text-align: center;
    padding: 45px; 
}


.SSearch{
    border-radius: 13px;
}
.search button{
    border-radius: 13px;
}
.navicons{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 40px;
}
.popular{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 30px;
    
    
}
.popular h4{
    margin-left: 30px;
}

.medical input{
    width: 40%;
    padding-bottom: 20PX;
}
.medical{
    display: flex;
    justify-content: space-evenly;

}
.sub-medical{
    text-align: center;
    padding-bottom: 40px;
}
.h4edit{
    margin-left: 20px ;
}
