.btn-round {
  border: none;
  border-radius: 25px;
  background-color: white;
  padding: 8px 11px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 1px 1px 15px rgb(202, 202, 202);
  color: #8c8c8c;
}

/* search bar */

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn.searchbar-btn {
  color: white;
  background-color: #b9d01e;
  border-radius: 0 25px 25px 0;
  padding-right: 16px;
  margin-left: -3px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.btn.searchbar-btn:hover {
  background-color: #e7f390;
  color: #a8bf0c;
}

.search-bar {
  border: none;
  font-size: 1.1em;
  padding: 8px 80px 8px 40px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
  border-radius: 25px 0 0 25px;
  color: #8c8c8c;
}

.icon.fa-magnifying-glass {
  position: relative;
  z-index: 2;
  margin-right: -35px;
  color: #8c8c8c;
}

/* category tags */
.cat-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.cat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  border-radius: 12px;
  margin-right: 25px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cat:hover {
  background-color: rgb(244, 244, 244);
  transition: 0.3s ease-in-out;
}

.cat img {
  border-radius: 8px;
}

.cat p {
  margin-left: 8px;
  margin-right: 2px;
}

/* tag container */
.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 0 100px;
}

.btn.searchbar-tag {
  font-weight: 500;
  background-color: #e7f390;
  color: #a8bf0c;
  margin-right: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
}

.btn.searchbar-tag:hover {
  background-color: #b9d01e;
  color: white;
}

.tags-container i {
  padding: 8px 13px;
}

.tags-container p {
  margin-right: 10px;
}

/* Items section */

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-card {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
  margin: 7px 8px;
  width: 20%;
  /* border: 1px solid red; */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgb(202, 202, 202);
  cursor: pointer;
  transition: 0.3s;
}

.item-card:hover {
  background-color: #f7f7f7;
  transition: 0.3s ease-in-out;
}

.img-container > img {
  width: 100%;
  border-radius: 8px;
}

.item-name {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 5px;
}

.item-price {
  font-size: 1.12em;
  font-weight: 700;
  color: #68bf0c;
  margin-top: 5px;
}

.item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
  margin-top: 4px;
  font-weight: 700;
  color: #545454;
}

.item-rating > i {
  color: #fdad0c;
  font-size: 0.9em;
  /* margin-right: 3px; */
}

.item-rating > span {
  margin-left: 3px;
  margin-right: 3px;
}
