.main2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    min-height: 100vh;
    padding-bottom: 30px;
    
}
 .alb {
    width: 200px;
    height: 200px;
   
}
.alb img {
    width: 60%;
    height: 100%;
    margin-bottom: 30px;
    


} 
a {
    text-decoration: none;
    color: black;
}

.alb a{
    padding: 30px;
} 
.image2{
    padding-bottom: 3px;
}