:root {
  /* colors */
  --lightyellow: #fbb03b;
  --darkyellow: #f8931f;
  --lightblue: #65c7d0;
  --darkblue: #00aac1;
  --black: #2e2e2e;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.h1-large {
  color: var(--black);
  font-weight: 700;
  font-size: 3.2em;
}

.h2-large {
  color: var(--lightyellow);
  font-weight: 700;
  font-size: 2.4em;
}

.h3-large {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 2em;
}

/* colors */

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--lightblue);
}
.hero-btn:hover {
  border: 1px solid var(--black);
  background: var(--darkblue);
  transition: 0.5s ease-in-out;
}
.main-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--lightyellow);
}
.main-btn:hover {
  border: 1px solid var(--black);
  background: var(--darkyellow);
  transition: 0.5s ease-in-out;
}

/* FOOTER */
