:root {
  /* colors */
  --lightyellow: #fbb03b;
  --darkyellow: #f8931f;
  --lightblue: #65c7d0;
  --darkblue: #00aac1;
  --black: #2e2e2e;
}

* {
  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.h1-large {
  color: var(--black);
  font-weight: 700;
  font-size: 3.2em;
}

.h2-large {
  color: var(--lightyellow);
  font-weight: 700;
  font-size: 2.4em;
}

/* colors */

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    background: var(--lightblue);

  }
  .hero-btn:hover{
    border: 1px solid var(--black);
    background: var(--darkblue);
    transition: 0.5s;
  }
.main-btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    background:var(--lightyellow);

}
.main-btn:hover{
    border: 1px solid var(--black);
    background: var(--darkyellow);
    transition: 0.5s;
  }

  nav img{
    width: 75px;
  }
  nav{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .navlinks{
    flex: 1;
    text-align: right;
    
  }
  .navlinks ul li {
    
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 10px;
    


  }
  .navlinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  .navlinks ul li label{
    color: black;
    font-size: 13px;
  }
  .navlinks ul li :hover{
      background-color:rgb(172, 168, 168);
      transition: 1s;
      
  }
  .header-container{
    display: flex;
    flex-direction: row;
  }
  .login{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .login p{
    padding-right: 10px;
    display: flex;
    
    
  }
 .header{
   background-color:rgb(212, 209, 209);
 }